# Dev tools
.gitignore export-ignore
.gitattributes export-ignore
.github/ export-ignore
vendor/ export-ignore
images/ export-ignore
composer.json export-ignore
composer.lock export-ignore
.phpcs.xml* export-ignore
phpcs-report.txt export-ignore
README.md export-ignore
tests/ export-ignore
node_modules/ export-ignore
