name: Coding Standards + Auto-Fix

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  standards:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: WPCS + CPCS Lint & JSON
        uses: 10up/wpcs-action@v1.7.0
        with:
          standard: WordPress-VIP-Go
          extra_args: '--report-json=./phpcs.json --extensions=php'
          enable_warnings: true

            - name: Summary
        if: always()
        run: |
          npm install ./  # Local install, no global perms
          npm i -g https://github.com/10up/phpcs-json-to-md/tarball/master || true
          [ -f ./phpcs.json ] || echo '{}' > ./phpcs.json
          npx phpcs-json-to-md --path ./phpcs.json --output ./phpcs.md || echo "## No issues" > ./phpcs.md
          cat ./phpcs.md >> $GITHUB_STEP_SUMMARY
        shell: bash

      - name: Setup PHP for PHPCBF
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Install PHPCBF
        run: |
          curl -OL https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar
          chmod +x phpcs.phar
          mv phpcs.phar /usr/local/bin/phpcs
          curl -OL https://squizlabs.github.io/PHP_CodeSniffer/phpcbf.phar
          chmod +x phpcbf.phar
          mv phpcbf.phar /usr/local/bin/phpcbf

      - name: PHPCBF Auto-Fix
        run: phpcbf . --standard=WordPress-VIP-Go --extensions=php --ignore=vendor/,node_modules/

      - name: Commit Fixes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'fix: PHPCBF VIP/WPCS [skip ci]'
          file_pattern: '*.php'
