name: PHP Autofix (PHPCBF)
run: vendor/bin/phpcbf ./ --standard=phpcs.xml.dist || true

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  phpcbf:
    name: PHPCBF
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          tools: composer

      - name: Allow PHPCS Composer plugin
        run: composer config --no-interaction allow-plugins.dealerdirect/phpcodesniffer-composer-installer true

      - name: Install PHPCS + sniffs
        run: |
          composer require --dev \
            squizlabs/php_codesniffer \
            wp-coding-standards/wpcs \
            woocommerce/woocommerce-sniffs \
            dealerdirect/phpcodesniffer-composer-installer

      - name: Run PHPCBF (autofix)
        run: vendor/bin/phpcbf || true

      - name: Commit fixes to PR
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: PHPCBF auto-fixes"
          branch: ${{ github.head_ref }}
