name: PHPCBF Auto-Fix (WP Plugin)

on:
  push:
    branches: [ '*' ]
  pull_request:

jobs:
  phpcbf:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: PHPCS + Auto-Fix
        uses: shalior/wordpress-phpcs-action@master
        with:
          github_token: ${{ github.token }}
          workdir: '.'
          phpcs_standard: WordPress,ClassicPress
          phpcs_args: --ignore=*/vendor/*,*/node_modules/* .
          phpcbf_args: --ignore=*/vendor/*,*/node_modules/* .

      - name: Commit fixes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'fix: PHPCBF auto-fixes [skip ci]'
          file_pattern: '*.php'
