name: WPCS (WordPress + WooCommerce)

on:
  pull_request:
    branches:
      - main

jobs:
  phpcs:
    name: PHPCS
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          tools: composer

      - name: Allow PHPCS Composer plugin
        run: composer config --no-interaction allow-plugins.dealerdirect/phpcodesniffer-composer-installer true

      - name: Install PHPCS + sniffs
        run: |
          composer require --dev \
            squizlabs/php_codesniffer \
            wp-coding-standards/wpcs \
            woocommerce/woocommerce-sniffs \
            dealerdirect/phpcodesniffer-composer-installer

      - name: Run PHPCS
        run: vendor/bin/phpcs
