name: WPCS Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  phpcs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up PHP 8.2
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          tools: composer

      - name: Cache Composer
        uses: actions/cache@v3
        with:
          path: vendor
          key: composer-${{ hashFiles('composer.lock') }}
          restore-keys: composer-

      - name: Allow PHPCS Composer plugin
        run: composer config --no-interaction allow-plugins.dealerdirect/phpcodesniffer-composer-installer true

      - name: Install PHPCS + WPCS + WooCommerce sniffs
        run: composer install --no-interaction --prefer-dist

      - name: Run PHPCS (lint)
        run: vendor/bin/phpcs ./ --standard=phpcs.xml.dist --ignore=vendor/*,node_modules/*,build/*,assets/*,.github/*
